<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/home.css")>
</head>
<body>
    <div class="pageheader">
        <h1 class="titlecenter"> This is a WebApi Test Project</h1>
    </div>

</body>
</html>
